.cart {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin: 1rem;
  width: 50rem;
}

.userDetails {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 1rem;
}

.vr {
  margin-left: 3rem;
  margin-right: 3rem;
}

form {
}

.cartTitle {
}

.cartEmpty {
  margin-top: 8rem;
}

.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.countHandler button {
  width: 40px;
  border: none;
  font-weight: bolder;
}

.countHandler button:hover {
  background-color: rgba(0, 0, 0, 0.174);
  transition: 0.2s;
}

.checkout button {
  width: 150px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}

.cartTable {
  text-align: center;
  width: 50rem;
  table-layout: fixed;

}

.cartTable td,
th {
  padding: 5px;
  border: 1px solid #e1b9b9;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0d2185a0;
  color: rgb(240, 244, 244);
  width: 220px;
  border: 2px solid black;
}
