@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

section {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 80px;
}


.inputbox {
  margin: 8px 0px;
  width: 350px;
  height: fit-content;
  margin-bottom: 15px;
}

input {
  margin-top: 4px;
  padding: 20px 5px;
  width: 100%;
  height: 28px;
  border: none;
  border-radius: 2px;
  background: rgba(128, 128, 128, 0.2);
}

.right .title h2 {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 40px;
}

.inputbox label {
  font-size: 15px;
  margin-bottom: 5px;
}

input::placeholder {
  text-indent: 8px;

  font-size: 13.5px;
}

.create {
  display: flex;
  justify-content: center;
  width: 360px;
}

.create button {
  margin-top: 20px;
  width: 170px;
  border: none;
  border-radius: 25px;
  padding: 6px 0px;
  color: #fff;
  background: #000;
  font-size: 17px;
}


@media screen and (max-width: 768px) {
  section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 80px;
  }
  
  
  .inputbox {
    margin: 30px;
    width: 280px;
    height: fit-content;
  }
  
  input {
    margin-top: 4px;
    padding: 20px 5px;
    width: 100%;
    height: 28px;
    border: none;
    border-radius: 2px;
    background: rgba(128, 128, 128, 0.2);
  }
  
  .right .title h2 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 40px;
  }
  
  .inputbox label {
    font-size: 15px;
    margin-bottom: 5px;
  }
  
  input::placeholder {
    text-indent: 8px;
  
    font-size: 13.5px;
  }
  
  .create {
    display: flex;
    justify-content: center;
    width: 360px;
  }
  
  .create button {
    margin-top: 20px;
    width: 170px;
    border: none;
    border-radius: 25px;
    padding: 6px 0px;
    color: #fff;
    background: #000;
    font-size: 17px;
  }
  
}
 
