@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  width: 750px;
  height: 450px;
  border-radius: 10px;
  background: #f8f1f1;
  border: 1px solid;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: url("https://i.postimg.cc/vmK4vkf0/neon-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.left img {
  width: 100px;
}

.left h1 {
  margin-top: 10px;
  font-size: 3em;
  font-weight: 100;
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
}

.right {
  margin: 20px auto;
  padding: 10px;
}

.inputbox {
  margin: 8px 0px;
  width: 350px;
  height: fit-content;
  margin-bottom: 15px;
}

input {
  margin-top: 4px;
  padding: 20px 5px;
  width: 100%;
  height: 28px;
  border: none;
  border-radius: 2px;
  background: rgba(128, 128, 128, 0.2);
}

.right .title h2 {
  text-align: center;
  font-size: 1.8em;
  margin-bottom: 40px;
}

.inputbox label {
  font-size: 15px;
  margin-bottom: 5px;
}

input::placeholder {
  text-indent: 8px;

  font-size: 13.5px;
}

.create {
  display: flex;
  justify-content: center;
  width: 360px;
}

.create button {
  margin-top: 20px;
  width: 170px;
  border: none;
  border-radius: 25px;
  padding: 6px 0px;
  color: #fff;
  background: #000;
  font-size: 17px;
}

/* Responsiveness:Start */
@media screen and (max-width: 780px) {
  .content {
    flex-direction: column;
    width: 400px;
    height: fit-content;
    margin: 20px auto;
  }
  .left {
    height: 250px;
    width: 100%;
    border-radius: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
}
@media screen and (max-width: 425px) {
  .content {
    width: 100%;
    margin: 0px;
    border-radius: 0px;
  }
  .left {
    width: 100%;
    border-radius: 0px;
  }
}
/* Responsiveness:End */
