.navbar-1 {
  width: 100%;
  margin: none;
  height: 80px;
  background-color: rgb(241, 109, 38);
  display: flex;
  justify-content: center;
}

.topNavbar {
  width: 100%;
  text-align: center;
  padding: 5px;
  background-color: rgb(243, 120, 54);
}

.orderNow {
  margin-right: 15px;
}

.middleNavbar {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.links-1 {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.links-1 a {
  text-decoration: none;
  color: rgb(5, 0, 0);
  margin-left: 20px;
  font-size: 25px;
  font-weight: bolder;
}

.navbar-2 {
  text-align: center;
  background-color: rgb(19, 19, 19);
  color: whitesmoke;
  position: fixed;
  bottom: 0;
  width: 100%;
  animation: 0.5s ease-in-out;
  z-index: 5;
  display: flex;
  flex-direction: column;
}

.navbar-2 a {
  text-decoration: none;
  color: white;
}

.navbar {
  width: 100%;
  margin: none;
  height: 80px;
  background-color: rgb(241, 109, 38);
  display: flex;
  justify-content: center;
}

.navbar :link {
  text-decoration: none;
  color: rgb(5, 0, 0);
  margin-left: 20px;
  font-size: 25px;
  font-weight: bolder;
}

.nav-logo {
  text-decoration: none;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  color: white;
  transition: 0.3s all;
}

.nav-link:hover {
  color: red;
}

.nav-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.cartLogo {
  font-size: 30px;
}

@media only screen and (max-width: 768px) {
  .navbar {
    position: fixed;
    z-index: 5;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 60px;
    left: 20px;
    left: -100%;
    transition: 0.25s all;
  }

  .nav-links.active {
    background: rgb(243, 120, 54);
    left: 0;
  }

  .nav-item {
    padding: 6px;
  }

  .nav-icon {
    display: flex;
    color: white;
    padding-left: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .mobileTopNav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2px;
  }

  .middleNavbar {
    padding: 20px;
  }

  .logoNav {
    width: 100px;
  }

  .links-1 {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .links-1 a {
    text-decoration: none;
    color: rgb(5, 0, 0);
    margin-left: 10px;
    font-size: 12px;
    font-weight: bolder;
  }

  .logoCart {
    width: 18px;
  }

  .navbar-2 {
    text-align: center;
    padding: 5px;
    font-size: 14px;
  }

  .navbar-2 a {
    text-decoration: none;
    color: white;
  }

  .cartLogo {
    font-size: 18px;
  }
}
