@media screen and (max-width: 768px) {
  .locationCard {
    width: 120px;
    margin: 10px;
  }

  .locationCardExtend {
    width: 160px;
    margin: 10px;
  }
  .cardHead {
    font-size: 15px;
  }

  .card-title {
    font-size: 10px;
  }
  .card-body {
    font-size: 8px;
  }
  .copyright {
    font-size: 10px;
    padding-top: 70px;
  }

  .footerLinks {
    display: flex;
    justify-content: space-evenly;
  }
  .footerLinks a {
    padding: 5px 9px 5px 9px;
    text-decoration: none;
    background-color: rgb(48, 54, 63);
    font-style: italic;
  }
}
